<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Redes-UNA </title>
    </head>
    <style>
        body{
            background: #141E30;
            background: -webkit-linear-gradient(to right, #243B55, #141E30); 
            background: linear-gradient(to right, #243B55, #141E30)
        }
    </style>
    <body text=white link=white vlink=white>
        <h2 align=center>
            <font color=white>
            Proyecto de comunicaciones y redes de computadoras<br><br>
            <img src="https://get.mw.cr/c/aurens/content/images/colleges/logos/100.png">
            </font>
        </h2>
        <p>
            Bienvenidos a la página de nuestro proyecto, los integrantes son: <i>Josué Víquez Campos</i>,<i> Valeria Alpízar Zúñiga</i> y <i>José Herrera Solano</i>.
        <hr>
        <ul>
            <li>
                <a href=https://www.hostinger.es/tutoriales/que-es-nginx/>
                ¿Qué es NGINX?
                </a>
            <li>
                <a href=https://www.elgrupoinformatico.com/tutoriales/que-ldap-t74212.html>
                    ¿Qué es LDAP?
                </a>
            <li>
                <a href=https://www.digitalocean.com/community/tutorials/how-to-install-nginx-on-ubuntu-18-04/>
                ¿Cómo configurar NGINX?
                </a>
            <li>
                <a href=https://instructorbenyblanco.wordpress.com/configuracion-basica-de-servidor-ldap/>
                ¿Cómo configurar LDAP?
                </a>
        </ul>
        <hr>
        <p align=right>
            <font color=white size=-1>
            Profesor: Máster José Pablo Calvo Suárez<br>
            Universidad Nacional<br>
            Costa Rica<br>
            </font>
    </body>
</html>